{
  "apps": [
    {
      "name": "NextGenPlanner",
      "script": "index.js",
      "watch": true,
      "env": {
        "DBURL": "NextGenPlanner"
      },
      "post_update": "npm install"
    }
  ]
}
