<div class="homeworkitem">
  <div class="subject">{{subject}}</div>
  <div class="homework">{{homework}}</div>
  <div class="due" class="{{#if complete}}complete{{else}}incomplete{{/if}}">Due {{dateToNow due}}</div>
</div>
