#page-main{
  @media (min-width: 900px) {
    #addhomeworkbutton, #jumptodate, #weeknav{
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .columns{
      width: 80%;
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;

      >div{
        width: 50%;
      }
    }

     .columns>div:first-child{
      margin-right: 20px;
    }
  }

  @media (max-width: 899px) {
    #addhomeworkbutton, #jumptodate, #weeknav, #mainpage-panels{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .columns>div{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .columns{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      flex-wrap: wrap;
    }

     .columns>div:last-child{
      order: 0;
    }

     .columns>div:first-child{
      order: 1;
    }
  }

  #addhomeworkbutton{
    display: block;
    margin-bottom: 3px;
  }

  #jumptodate{
    margin-bottom: 3px;
  }

  #weeknav{
    display: flex;
    margin-bottom: 20px;
  }

  #currentweekbutton{
    flex-grow: 1;
  }

   .columns{
    display: flex;
  }

   .panel{
    border: solid 1px #e2e2e2;
    background-color: #5b5b5b;
    color: white;
  }

   .panel-title{
    text-align: center;
  }

  .lesson{
    text-align: center;
  }

  #movedatepicker{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #modal-addhomework, #modal-edithomework{
    label{
      color: white;
      text-align: right;
    }

    .modal-header{
      background-color: white;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      color: black;
      text-align: center;
    }

    .modal-content{
      background-color: grey;
    }

    .modal-footer{
      text-align: center;
    }

    #homeworkcontentlabel{
      text-align: center;
      width: 100%;
    }
  }

  .homeworkitem{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid 1px white;
    text-align: center;

    >div{
      border: solid 1px grey;
      padding: 3px;
    }
    >.homework{
      flex-grow: 1;
    }
    >.due{
      display: flex;
      &.complete a{
        color: lightgreen;
      }
      &.incomplete a{
        color: red;
      }
    }
    a{
      color: white;
    }
    .subject, .due{
      max-width: 6em;
      min-width: 6em;
      display: flex;
      div{
        margin: auto;
        text-align: center;
      }
    }
  }

  .week-dayname{
    text-align: center;
    font-size: 1.2em;
  }

  .quill-container{
    width: 100%;
    background-color: white;
    box-shadow: white 0px 0px 5px;
  }

  .quill-main .editor{
    height: 150px;
  }
}
