#tometablecontainer{
  display: block;
  width: 100%;
  overflow-x: auto;
}

#tometablecontainer>h1{
  color: white;
  text-align: center;
}

#addlessonbutton{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tometable{
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.tometableday{
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 100px;
}

.tometablegap{
  height: 100px;
}

.daynamecontainer{
  width: 100%;
  height: 30px;
  display: flex;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dayname{
  margin: auto;
  font-size: 1.2em;
}

.tometablelesson{
  width: 100%;
  display: flex;
}

.tometablelesson .tometablelessoninner{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  display: flex;
}

.tometablelesson .tometablelessontext{
  margin: auto;
  text-align: center;
}

.tometable .periods{
  padding-top: 30px;
  min-width: 60px;
}
.tometable .periods>div{
  height: 100px;
  width: 60px;
  display: flex;
}
.tometable .periods>div>div{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}
.tometable .periods>div>div>.num{
  font-size: 1.5em;
}
.tometable .periods>div>div>.tomes{
  width: 100%;
  text-align: center;
}

.autocomplete-suggestions{
  border: 1px solid darkgrey;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}

.autocomplete-suggestion{
  padding: 2px 5px;
  border-bottom: 1px solid lightgrey
}

.autocomplete-suggestion:last-child{
  border-bottom: none;
}

.autocomplete-selected{
  background-color: lightgrey;
}

.form-control.autocomplete-input{
  position: absolute;
  z-index: 2;
  background: transparent;
}

.form-control.autocomplete-suggest{
  position: absolute;
  z-index: 1;
  color: lightgrey;
  background: white;
}
