<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&tomes;</span></button>
      <h4 class="modal-title">Options</h4>
    </div>
    <div class="modal-body">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#options-tometable-main" data-toggle="tab">Day/Week Layout</a></li>
        <li><a href="#options-tometable-periods" data-toggle="tab">Periods</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="options-tometable-main">
          {{#each days}}
            <input type="checkbox" {{#if this.active}}checked{{/if}} data-day="{{this.num}}" class="dayselect">{{this.name}}</input><br>
          {{/each}}
        </div>
        <div class="tab-pane fade" id="options-tometable-periods">
          <ol>
            {{#each periods}}
              <li>
                From <select>{{> tometable.tomeselector from=0 to=23 value=this.[0]}}</select>:<select>{{> tometable.tomeselector from=0 to=59 value=this.[1]}}</select>
                To <select>{{> tometable.tomeselector from=0 to=23 value=this.[2]}}</select>:<select>{{> tometable.tomeselector from=0 to=59 value=this.[3]}}</select>
              </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
