<div class="modal-dialog">
  <div class="modal-content">
    <form class="form-horizontal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&tomes;</span></button>
        <h4 class="modal-title">Edit Week Notes</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" value="{{note._id}}"></input>
        <div class="notes quill-container">
          <div class="toolbar">
            <span class="ql-format-group"><span title="Link" class="ql-format-button ql-link"></span><span class="ql-format-separator"></span><span title="Image" class="ql-format-button ql-image"></span><span class="ql-format-separator"></span><span title="List" class="ql-format-button ql-list"></span></span>
          </div>
          <div class="editor">{{{note.notes}}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-danger" value="Clear" name="delete"></input>
        <input type="submit" class="btn btn-default" value="Add"></input>
      </div>
    </form>
  </div>
</div>
