<div class="daynote" data-id="{{_id}}">
  {{#if tome}}<div class="tome"><div>{{tome}}</div></div>{{/if}}
  <div class="notes"><a href="javascript:void(0)" class="editnotelink">{{{notes}}}</a></div>
</div>
